html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}
.table-container {
    margin: 3rem auto;
    width: 50%;
}
.table-title{
    text-align: center;
    font-weight: bold;
    margin-top: 2rem;
}

table {
    margin-top: 1rem;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}
th {
	text-align: left;
}
thead th {
    background-color: #55608f;
}
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  tbody td {
    position: relative;
  }

  tbody td:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
  }

  .id {
    width: 7%;
  }
  .codigo {
    width: 13%;
  }
  .descripcion {
    width: 50%;
  }
  .precio {
    width: 15%;
  }
  .stock {
    width: 10%;
  }
  .operaciones {
    width: 20%;
  }

/* BOTONES */
.btn-container .btn {
  border-radius: 999px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 10px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 0.2rem 0.7rem;
  touch-action: manipulation;
  word-break: break-word;
  border: 0;
  width: 100%;
}

.btn-container .btn-borrar{
    background: #ff0000;
    box-shadow: #ff0000 0 10px 20px -10px;
    margin-bottom: 0.5rem;
}

.btn-container .btn-borrar:hover {
    background: #c40000;
}
.btn-container .btn-editar{
    background: #5C3B85;
    box-shadow: #5C3B85 0 10px 20px -10px;
}

.btn-container .btn-editar:hover {
    background: #3d2658;
}